@CHARSET "ISO-8859-1";
.lib-base_html
{
	background-color : rgb(116,120,120);
}
.lib-background
{
	height : auto;
	width : 1335px;
}
.lib-background_padding
{
	padding-top : 75px;
	padding-left : 149px;
	padding-right : 149px;
	padding-bottom : 75px;
}
.lib-inner_background
{
	height : auto;
	width  : 1036px;
	background-color : white;
}
.lib-header_main
{
	height : 153px;
	width : 1036px;
}
.lib-header_divs
{
	height : 150px;
}
.lib-header_name
{
	height : 115px;
	width : 373px;
    padding-top : 35px;
	padding-left : 25px;
	color : green;
}
.lib-further_links
{
	height : 50px;
	width : 1036px;
	background-color : rgb(219, 58, 55);
}
.lib-links_tds
{
	padding-top : 14px;
	padding-left : 25px;
	padding-right : 10px;
	font-size : 15px;
}
a.lib-links_as:link
{
	color : white;
	text-decoration : none;		
}
a.lib-links_as:visited
{
  color : white;
}
a.lib-links_as:hover
{
   color : white;
   text-decoration : underline;
}
.lib-inner_content
{
	height : auto;
	width : 986px;
	padding-left : 50px;
	padding-top : 50px;
}
.lib-inner_rows
{
	height : auto;
	width : auto;
}
.lib-inner_content_img1_border
{
	border-width : 2px;
	border-style : solid;
	border-color : grey;
	height : 383px;
	width : 458px;
}
img.lib-inner_content_img1
{
	padding-top : 4px;
	padding-left : 4px;
	padding-right : 4px;
	padding-bottom :4px;
	height : 375px;
	width : 450px;
}
.lib-text
{
	padding-left : 15px;
	padding-top : 10px;
	height : 383px;
	width : 450px;
	text-align : justify;
	font-family : Times New Roman;
}
.lib-innertext_text1
{
	color : rgb(105,105,105);
	font-size : 15px;
}
.lib-innertext_text2_heading
{
	padding-top : 30px;
	color : red;
	font-size : 17px;
}
.lib-innertext_text2
{
	font-size : 15px;
	color : rgb(105,105,105);
}
.lib-inner_content_img2_border
{
	height : 218px;
	width : 458px;
	border-color :  rgb(211,211,211);
	border-style : solid;
	border-width : 7px;
	border-bottom-width : 10px;
	border-radius : 10px;
}
.lib-inner_content_img2
{
	height : 200px;
	width : 450px;
}
.lib-text2
{
	padding-left : 50px;
	height : 218px;
	width : 450px;
	padding-left : 15px;
	text-align : justify;
	font-family : Times New Roman;
}
.lib-innertext2_h2
{
	padding-left : 70px;
	color : red;
	text-decoration : underline;
	font-family : cursive;
}
.lib-innertext2_text
{
	color : rgb(14,137,179);
	padding-bottom : 20px;
}
.lib-content_holder
{
	height : auto;
	width : 1036px;
	padding-top : 50px;
}
.lib-bottom_part
{
	height : 150px;
	width : 1036px;
}
.lib-bottom_tds
{
	height : 150px;
	width : 518px;
	padding-left : 700px;
}
.lib-input_property
{
	border-radius : 10px;
	background-color : rgb(123,104,238);
	border-width : 0px;
	width : 155px;
	height : 45px;
	color : white;
	font-size : 13px;
	font-weight : bold;
}
button:hover.lib-input_property
{
	border-radius : 10px;
	border-width : 0px;
	color : white;
	font-size : 14px;
	font-weight : bold;
	cursor : pointer;
}
.lib-background_footer_grey
{
	height : 50px;
	width : 1036px;
	background-color : rgb(106,105,105);
}
.lib-background_footer_red
{
	height : 5px;
	width : 1036px;
	background-color : red;
}
.lib-gen_inner_header
{
	height : auto;
	width : 986px;
	padding-left : 50px;
}
.lib-col_inner_header_ftd
{
	height : 166px;
	border-style : solid;
	border-color : gray;
	border-width : 1px;	
}
.lib-col_inner_header_flimg
{
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	height : 150px;
}
.lib-col_inner_header_ctd
{
	padding-right : 75px;
	padding-left : 75px;
}
.lib-col_inner_header_cpara
{
	color : red;
	font-weight : bold;
	font-size : 17px;
	text-decoration : underline;
}
.lib-col_inner_header_new_arrival
{
	padding-left : 80px;
}
.lib-col_inner_header_ltd
{
	height : 166px;
	box-shadow: 5px 5px 3px #888888;
}
.lib-col_inner_table
{
	padding-left : 50px;
}
.lib-col_inner_table_borderset
{
	border-collapse : collapse;
	border-style : solid;
	border-color : red;
	border-width : 1px;
}
.lib-col_inner_table_th
{
	color : gray;
	font-weight : bold;
	height : 50px;
	border-style : solid;
	border-color : red;
	border-width : 1px;
}
tr:nth-child(odd).lib-col_inner_table_content_tr
{
	background-color : #bdc3c7;
}
.lib-col_inner_table_content_tds_heading1
{
	height : 40px;
	width : 400px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
	font-weight : bold;
}
.lib-col_inner_table_content_tds_heading
{
	height : 40px;
	width : 250px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
	font-weight : bold;
}
.lib-col_inner_table_content_tds1
{
	height : 40px;
	width : 400px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
}
.lib-col_inner_table_content_tds
{
	height : 40px;
	width : 250px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
}
.lib-jou_inner_header_ftd
{
	height : 166px;
	box-shadow : 2px 2px 7px 7px #888888 ;
	border-style : solid;
	border-color : gray;
	border-width : 1px;	
}
.lib-jou_inner_header_flimg
{
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	height : 150px;
}
.lib-jou_inner_header_ctd
{
	padding-right : 55px;
	padding-left : 75px;
}
.lib-jou_inner_header_cpara
{
	color : red;
	font-weight : bold;
	font-size : 18px;
	text-decoration : underline;
}
.lib-jou_inner_header_new_arrival
{
	padding-left : 110px;
}
.lib-jou_inner_header_ltd
{
	height : 166px;
	box-shadow : 2px 2px 7px 7px #888888;
}
.lib-mag_inner_header_ftd
{
	height : 300px;
	width : 368px;
	padding-left : 150px;
	padding-right:  : 25px;
}
.lib-mag_inner_header_img_border
{ 
	height : 280px;
	width : 210px;
	box-shadow : 2px 2px 5px 5px #888888;
}
.lib-mag_inner_header_img
{
	height : 260px;
	width : 190px;
	border-color : white;
	border-width : 10px;
	border-style : solid;
}
.lib-mag_inner_header_ltd
{
	height : 300px;
	width : 400px;
}
.lib-mag_inner_header_ltd_content
{
	height : 300px;
	width : 400px;
}
.lib-mag_inner_header_text
{
	padding-top : 65px;
	color : red;
	font-weight : bold;
	font-size : 17px;
	text-decoration : underline;
}
.lib-mag_inner_header_newarraivals
{
	padding-top : 15px;
	padding-left : 75px;
}
.lib-ejo_inner_header_fltd
{
	height : 200px;
	width : 300px;
	padding-left : 30px;
}
.lib-ejo_inner_header_ctd
{
	height : 100px;
	width : 300px;
}
.lib-ejo_inner_header_img1
{
	height : 150px;
	width : 250px;
}
.lib-ejo_inner_header_text
{
	height : 100px;
	width : 300px;
	color : red;
	font-weight : bold;
	font-size : 17px;
	text-decoration : underline;
}
.lib-ejo_inner_header_img2
{
	padding-top : 25px;
	height : 125px;
	width : 250px;
}
.lib-mba_inner_header_ftd
{
	padding-left : 25px;
	height : 250px;
	width : 275px;
}
.lib-mba_inner_header_img1
{
	padding-top : 3px;
	padding-bottom : 3px;
	padding-right : 3px;
	padding-left : 3px;
	height : 225px;
	width : 275px;
	border-style : solid;
	border-color : gray;
	border-width : 1px;
}
.lib-mba_inner_header_ctd
{
	padding-left : 25px;
	height : 250px;
	width : 255px;
}
.lib-mba_inner_header_text
{
	height : 50px;
	width : 200px;
	color : red;
	font-weight : bold;
	font-size : 17px;
	text-decoration : underline;
	padding-left : 50px;
}
.lib-mba_inner_header_img2
{
	padding-left: 75px;
}
.lib-mba_inner_header_ltd
{
	padding-left : 25px;
	height : 250px;
	width : 275px;
}
.lib-mba_inner_header_img3
{
	padding-top : 3px;
	padding-bottom : 3px;
	padding-right : 3px;
	padding-left : 3px;
	height : 175px;
	width : 300px;
	border-style : solid;
	border-color : gray;
	border-width : 2px;
	border-radius : 10px;
}
.lib-mca_inner_header_ftd
{
	padding-left : 25px;
	height : 250px;
	width : 275px;
}
.lib-mca_inner_header_img1
{
	padding-top : 3px;
	padding-bottom : 3px;
	padding-right : 3px;
	padding-left : 3px;
	height : 225px;
	width : 275px;
	border-style : solid;
	border-color : gray;
	border-width : 3px;
}
.lib-mca_inner_header_ctd
{
	padding-left : 25px;
	height : 250px;
	width : 255px;
}
.lib-mca_inner_header_text
{
	height : 50px;
	width : 200px;
	color : red;
	font-weight : bold;
	font-size : 17px;
	text-decoration : underline;
	padding-left : 50px;
}
.lib-mca_inner_header_img2
{
	padding-left: 75px;
}
.lib-mca_inner_header_ltd
{
	padding-left : 25px;
	height : 250px;
	width : 275px;
}
.lib-mca_inner_header_img3
{
	padding-top : 3px;
	padding-bottom : 3px;
	padding-right : 3px;
	padding-left : 3px;
	height : 175px;
	width : 300px;
	border-style : solid;
	border-color : gray;
	border-width : 2px;
	border-radius : 10px;
}
.lib-fre_inner_header_sec1
{
	height : 200px;
	width : 806px;
}
.lib-fre_inner_header_ftd
{
	padding-left : 50px;
	height : 210px;
	width : 508px;
}
.lib-fre_inner_header_td_image
{
	height : 200px;
	width : 508px;
	border-style : solid;
	border-color : gray;
	border-width : 1px;
}
.lib-fre_inner_header_ltd
{
	height : 200px;
	width : 408px;
}
.lib-fre_inner_header_td_text
{
	padding-top : 70px;
	color : red;
	font-weight : bold;
	font-size : 25px;
	text-decoration : underline;
	padding-left : 50px;
}
.lib-fre_inner_table
{
	height : auto;
	width : 946px;
	padding-left : 50px;
}
.lib-fre_inner_table_borderset
{
	border-collapse : collapse;
	border-style : solid;
	border-color : red;
	border-width : 1px;
}
.lib-fre_inner_table_content_heading_text
{
	background-color : #F8BBD0;
	color : gray;
	font-size : 22px;
	height : 70px;
	width : 946px;
	border-bottom-style : solid;
	border-bottom-color : red;
	border-bottom-width : 1px;
}
tr:nth-child(odd).lib-fre_inner_table_content_tr
{
	background-color : #bdc3c7;
}
td:nth-child(odd).lib-fre_inner_table_content_tds
{
	height : 40px;
	width : 23px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
}
td:nth-child(even).lib-fre_inner_table_content_tds
{
	height : 40px;
	width : 300px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
}
a:link
{
	color : red;
	font-size : 14px;
}
a:visited
{
	color : red;
	font-size : 14px;
}
.lib-fre_inner_table_content_heading2_text
{
	background-color : #F8BBD0;
	color : gray;
	font-size : 22px;
	height : 70px;
	width : 473px;
	border-bottom-style : solid;
	border-bottom-color : red;
	border-bottom-width : 1px;
}
.lib-fre_inner_table_content_heading2_div
{
	padding-left : 75px;
}
.lib-fre_inner_table_content_heading2_img
{
	height : 300px;
	width : 325px;
	padding-bottom : 3px;
	padding-left : 3px;
	padding-right : 3px;
	padding-top : 3px;
	border-style : solid;
	border-color : gray;
	border-width : 1px;
	box-shadow : 2px 2px 5px 5px #888888;
}
.lib-jou_inner_table
{
	padding-top : 60px;
	padding-left : 70px;
}
.lib-jou_inner_table_borderset
{
	border-collapse : collapse;
	border-style : solid;
	border-color : red;
	border-width : 1px;
}
.lib-jou_inner_table_th
{
	background-color : #F8BBD0;
	color : gray;
	font-weight : bold;
	height : 50px;
	border-style : solid;
	border-color : red;
	border-width : 1px;
}
tr:nth-child(odd).lib-jou_inner_table_content_tr
{
	background-color : #bdc3c7;
}
.lib-jou_inner_table_content_tds_heading1
{
	height : 40px;
	width : 500px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
	font-weight : bold;
}
.lib-jou_inner_table_content_tds_heading
{
	height : 40px;
	width : 200px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
	font-weight : bold;
}
.lib-jou_inner_table_content_tds1
{
	height : 40px;
	width : 500px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
}
.lib-jou_inner_table_content_tds
{
	height : 40px;
	width : 200px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	font-size : 15px;
}
a.lib_table_as:link
{
	color : red;
	font-size : 14px;
	font-weight : bold;
}
a.lib_table_as:visited
{
	color : red;
	font-size : 14px;
	font-weight : bold;
}
.lib-ejou_table_th1
{
	height : 40px;
	width : 30px;
	border-bottom-style : solid;
	border-bottom-color : red;
	border-bottom-width : 1px;
	color : grey;
}
.lib-ejou_table_th
{
	height : 40px;
	width : 300px;
	border-bottom-style : solid;
	border-bottom-color : red;
	border-bottom-width : 1px;
	color : grey;
}
tr:nth-child(even).lib-ejou_inner_table_tr
{
	background-color : rgb(241, 169, 160);
}
.lib-ejou_inner_table
{
	padding-top : 30px;
	padding-left : 50px;
}
.lib-ejou_inner_table_td1
{
	height : 50px;
	width : 30px;
	font-size : 14px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
}
.lib-ejou_inner_table_td
{
	height : 50px;
	width : 300px;
	font-size : 14px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
}
.lib-mba_inner_table_div
{
	padding-left : 50px;
	padding-top : 50px;
}
.lib-mba_table_th1
{
	height : 40px;
	width : 500px;
	border-bottom-style : solid;
	border-bottom-color : red;
	border-bottom-width : 1px;
	color : grey;
}
.lib-mba_table_th
{
	height : 40px;
	width : 200px;
	border-bottom-style : solid;
	border-bottom-color : red;
	border-bottom-width : 1px;
	color : grey;
}
.lib-mba_table_td1
{
	height : 50px;
	width : 500px;
	font-size : 14px;
	text-align : center;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
}
.lib-mba_table_td
{
	height : 50px;
	width : 200px;
	font-size : 14px;
	text-align : center;
	font-weight : bolder;
	color : grey;
	border-left-style : solid;
	border-left-color : red;
	border-left-width : 1px;
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
}
.lib-mba_last_div
{
	padding-top : 50px;
	padding-left : 50px;
}
.lib-dow_div
{
	padding-left : 400px;
}
.lib-dow_text
{
	font-size : 20px;
	font-weight : bolder;
	text-decoration : underline;
	color : red;
}
.lib-dow_inner_table_div
{
	padding-left : 50px;
	padding-top : 50px;
}
.lib-dow_table_th
{
	border-bottom-style : solid;
	border-bottom-color : red;
	border-bottom-width : 1px;
	color : grey;
}
.lib-dow_table_td
{
	border-right-style : solid;
	border-right-color : red;
	border-right-width : 1px;
	text-align : center;
	font-size : 14px;
}