@CHARSET "ISO-8859-1";

.selection-btn {
	width : 180px;
	height : 40px;
	border : 0px;
	background : #D36F1E;
	color : #ffffff;
	margin : 0px;
}

#renewal-dates-bytitle {
	display : none;
	padding-top : 50px;
}

#renewal-dates-bymonth {
	display : none;
	padding-top : 50px;
}

#bymonth-result-holder {
	padding-left : 150px;
	padding-right : 150px;
}

#bymonth-result-holder table th {
	padding-top : 30px;
	padding-left : 30px;
	padding-right : 30px;
	padding-bottom : 0px;
}

#bymonth-result-holder table td {
	padding-top : 30px;
	padding-bottom : 0px;
}