@CHARSET "ISO-8859-1";

#change-home-content {
	padding-top : 7%;
	padding-left : 350px;
	overflow : hidden;
	width : 700px;
	float : left;
}

textarea {
	margin-left : 100px;
	width : 500px;
	height : 300px;
	margin-bottom : 20px;
}

#change-home-content-sub {
	color : white;
	background : #eb4640;
	margin-left : 40%;
	margin-bottom : 25px;
	height : 30px;
	width : 150px;
	border : 0px;
}

.border {
	border-bottom : 5px groove #eb4640;
	width : 700px;
	margin-bottom : 20px;
}

.title {
	padding-bottom : 20px;
	font-size : 30px;
	color : #eb4640; 
	text-align : center;
}

#error-message {
	text-align : center;
	padding-bottom : 10px;
}

