@CHARSET "ISO-8859-1";

#magazines-newarrival {
	padding-top : 11%;
	padding-left : 350px;
	overflow : auto;
	width : 700px;
	float : left;
}

#magazines-newarrival-value {
	color : #eb4640;
	margin-left : 38%;
	margin-bottom : 40px;
	height : 40px;
	width : 400px;
	border : 0px;
}

#magazines-newarrival-upld {
	color : white;
	background : #eb4640;
	margin-left : 43%;
	margin-bottom : 30px;
	height : 30px;
	width : 100px;
	border : 0px;
}

.border {
	border-bottom : 5px groove #eb4640;
	width : 700px;
	margin-bottom : 20px;
}

.title {
	padding-bottom : 20px;
	font-size : 30px;
	color : #eb4640; 
	text-align : center;
}

#error-message {
	text-align : center;
	padding-bottom : 10px;
}