@CHARSET "ISO-8859-1";

#mca-library {
	padding-top : 7%;
	padding-left : 350px;
	overflow : auto;
	width : 700px;
	float : left;
}

#mca-library ul {
	list-style-type : none;
	margin-left : 10px;
	margin-top : 0px;
}

.border {
	border-bottom : 5px groove #eb4640;
	width : 700px;
	padding-top : 20px;
}

.title {
	font-size : 30px;
	color : #eb4640; 
	text-align : center;
}

.btn {
	background : #eb4640;
	color : white;
	margin-right : 30px;
	margin-top : 30px;
	height : 60px;
	width : 600px;
	border : 0px;
}