@CHARSET "ISO-8859-1";

.calendar-container {
	height : 300px;
	width : 300px;
	position : absolute;
}

.calendar-container .month_year-container {
	height : 60px;
	width : 300px;
	background-color : #1abc9c;
	padding : 0px;
	margin: 0px;
}

.calendar-container .month_year-container ul {
	list-style-type : none;
	padding : 0px;
	margin : 0px;
} 

.calendar-container .month_year-container ul .prev {
	float : left;
	color : white;
	padding : 17px;
}

.calendar-container .month_year-container ul .next {
	float : right;
	color : white;
	padding : 17px;
}

.calendar-container .month_year-container .content {
	text-align : center;
	color : white;
	padding-top : 10px;
}

.calendar-container .month_year-container ul li a {
	text-decoration : none;
}

.calendar-container .weekdays-container {
	display : block;
	height : 20px;
	width : 300px;
	background-color: #ddd;
	padding : 0px;
	margin : 0px;
}

.calendar-container .weekdays-container ul {
	padding : 0px;
	margin : 0px;
	list-style-type : none;
}

.calendar-container .weekdays-container ul li {
	float : left;
	padding : 0px 16px;
	color : #666;
}

.calendar-container .weekdays-container ul li a {
	text-decoration : none;
}

.calendar-container .date-container {
	display : block;
	width : 300px;
	margin : 0px;
	padding : 0px;
}

.calendar-container .date-container ul {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}

.calendar-container .date-container ul li {
	float : left;
	text-align : center;
	background-color : #eee;
	height : 20px;
	width : 42.8px;
	padding-top : 4px;
	padding-bottom : 4px;
}

.calendar-container .date-container ul li.selected-date{
	background-color : #1abc9c;
}

.calendar-container .date-container ul li.unselected-date:hover {
	background-color : #999;
}

.calendar-container .date-container ul li.date-inactive a{
	color : #ccc;
}

.calendar-container .date-container ul li a {
	text-decoration : none;
	color : #777;
}

.calendar-container .calendar-submit {
	display : inline-block;
	height : 40px;
	width : 300px;
	background-color : #eee;
}

.calendar-container .ok-btn {
	float : right;
	margin-right : 20px;
	margin-top : 6px;
	height : 25px;
	width : 80px;
	background-color : #1abc9c;
	border : 0px;
	color : white;
}

